.moviesection{
                  background-color: black;
                  color: white;
                  
}
.video-player {
  width: 100%;
  height: 450px;
}
.blog .sidebar {
                  padding: 30px;
                  margin: 0 0 60px 20px;
                  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
                }
                
                .sidebar-title {
                  font-size: 20px;
                  font-weight: 700;
                  padding: 0 0 0 0;
                  margin: 0 0 15px 0;
                  color: white;
                  position: relative;
                }
                
            .sidebar-item {
                  margin-bottom: 30px;
                }
                
                .sidebar .search-form form {
                  background: #fff;
                  border: 1px solid #ddd;
                  padding: 3px 10px;
                  position: relative;
                }
                
                .sidebar .search-form form input[type=text] {
                  border: 0;
                  padding: 4px;
                  border-radius: 4px;
                  width: calc(100% - 40px);
                }
                
                 .search-form form button {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  border: 0;
                  background: none;
                  font-size: 16px;
                  padding: 0 15px;
                  margin: -1px;
                  background: white;
                  color: #fff;
                  transition: 0.3s;
                  border-radius: 0 4px 4px 0;
                  line-height: 0;
                }
                
                .sidebar .search-form form button i {
                  line-height: 0;
                }
                
                .sidebar .search-form form button:hover {
                  background: #5465f2;
                }
                
                .sidebar .categories ul {
                  list-style: none;
                  padding: 0;
                }
                
                .sidebar .categories ul li+li {
                  padding-top: 10px;
                }
                
                .sidebar .categories ul a {
                  color: white;
                  transition: 0.3s;
                }
                
                .sidebar .categories ul a:hover {
                  color: white;
                }
                
                .sidebar .categories ul a span {
                  padding-left: 5px;
                  color: #aaaaaa;
                  font-size: 14px;
                }
                
                .sidebar .recent-posts .post-item+.post-item {
                  margin-top: 15px;
                }
                
                .sidebar .recent-posts img {
                  width: 100px;
                  float: left;
                  height: auto;
                }
                
                .sidebar .recent-posts h4 {
                  font-size: 15px;
                  margin-left: 95px;
                  font-weight: bold;
                }
                
                .sidebar .recent-posts h4 a {
                  color: white;
                  transition: 0.3s;
                }
                
                .sidebar .recent-posts h4 a:hover {
                  color: #4154f1;
                }
                
                .sidebar .recent-posts time {
                  display: block;
                  margin-left: 95px;
                  font-style: italic;
                  font-size: 14px;
                  color: #aaaaaa;
                }
                
                .sidebar .tags {
                  margin-bottom: -10px;
                }
                
                .sidebar .tags ul {
                  list-style: none;
                  padding: 0;
                }
                
                .sidebar .tags ul li {
                  display: inline-block;
                }
                
                .sidebar .tags ul a {
                  color: var;
                  font-size: 14px;
                  padding: 6px 14px;
                  margin: 0 6px 8px 0;
                  border: 1px solid #d7e6ff;
                  display: inline-block;
                  transition: 0.3s;
                }
                
                .sidebar .tags ul a:hover {
                  color: #fff;
                  border: 1px solid #4154f1;
                  background: #4154f1;
                }
                
                .sidebar .tags ul a span {
                  padding-left: 5px;
                  color: #a5c5fe;
                  font-size: 14px;
                }
              .video-player{
                width: 100%;
                height: 100%;
              }